In [2]:
import pandas as pd
import time

In [4]:
start_time = time.time()
def main():
    def year_split(line):
        A = line.split(',')
        date = A[2]
        year = date[0:4]
        return year

    def dpy(co,day):
        data = []
        co = str(co)
        with open(f"{co}.csv") as f:
            for line in f:
                a = year_split(line)
                data.append(a)     
        day1 = []
        for year in range(2015,2020):
            td = data.count(str(year))
            day1.append(td)
        day.append(day1)
    day=[]
    companies = [
        "ALRS",
        "GAZP",
        "CHMF",
        "ADR.FIVE",
        "GMKN",
        "LKOH",
        "MGNT",
        "MTSS",
        "NLMK",
        "NVTK",
        "ROSN",
        "SBER",
        "SNGS",
        "TATN",
        "YNDX"
    ]
    for co in companies:
        dpy(co,day)
    df = pd.DataFrame(data=day, index = companies, columns = range(2015,2020))
    return df
main()
print("--- %s seconds ---" % (time.time() - start_time))
main()

--- 0.035988569259643555 seconds ---

          2015  2016  2017  2018  2019
ALRS       250   252   252   254   252
GAZP       250   252   252   254   252
CHMF       250   252   252   254   252
ADR.FIVE   253   253   252   252   253
GMKN       250   252   252   254   252
LKOH       250   252   252   254   252
MGNT       250   252   252   254   252
MTSS       250   252   252   254   252
NLMK       250   252   252   254   252
NVTK       250   252   252   254   252
ROSN       250   252   252   254   252
SBER       250   252   252   254   252
SNGS       250   252   252   254   252
TATN       250   252   252   254   252
YNDX       250   252   252   254   252